/*Reset CSS*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

:root {
    --violet: #D7D4FF;
    --dark-violet: #6C63FF;
    --header-text: #555555;
}

/* Header and top of page */

header {
    background: var(--violet);
    min-height: 400px;
    max-height: 800px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

@media screen and (max-width: 770px) {
    header {
        height: 700px;
    }
}

header .content  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    padding: 0px 20px;
}

header .content h1 {
    color: #2B2B2B;
    font-size: 2.5em;
    line-height: 1.5em;
    font-family: 'Merriweather', serif;
}

header .content p {
    font-size: 19px;
    line-height: 32px;
    color: var(--header-text);
    font-family: 'Lato', sans-serif;
}

header .content button {
    background: var(--dark-violet);
    margin-top: 40px;
    width: 150px;
    height: 45px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
    color: white;
    font-size: 16px;
}

header .image_box {
    display: flex;
    justify-content: center;
    max-width: 370px;
    max-height: 100%;
}

header .image_box img {
    max-width: 100%;
    max-height: 100%;
}

/*  Main content */

body {
    background: whitesmoke;
}

main {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 50px 25px;
    margin: min(80px, 10vw) 5%;
}

.card {
    background: white;
    width: 340px;
    height: clamp(350px, 400px, 423px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.card .color {
    height: 212px;
}

.card p, h2 {
    padding-top: 3%;
    padding-left: 5%;
}


footer {
    background: var(--violet);
    height: 750px;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 30px 0px;

}

footer form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: clamp(370px, 80%, 470px);
    gap: 20px 0px;
}

footer form * {
    font-size: 17px;
    height: 65px;
    border-radius: 6px;
    outline: none;
    border: none;
    padding: 20px 15px;
}

footer form textarea {
    height: 150px;
}

footer form .buttom {
    background: var(--dark-violet);
    border-radius: 5px;
    border: none;
    box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
    color: white;
}